body {
    position: fixed;
    background-color: gray;
    scrollbar-width: 2px;
}



.filename input {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 10px;

    border: none;
        color: white;
        outline: 0;
            font-size: small;
            margin-left: 10px;
}

.filename label {
    color: white;
    font-weight: bold;
        font-size: small;
}
.btn-primary {
    background-color: rgb(83, 83, 170) !important;
}

.my-bg {
    background-color: rgb(83, 83, 170) !important;
}
.flex-row-between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}



.logo {
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
.top-menus button {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    border: none;
    color: white;
        height: 50px;
            width: 50px;
            font-size: large;
            margin-left: 20px;
}

.top-menus label {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
        border: none;
        color: white;
        height: 50px;
        width: 50px;
        font-size: large;
        margin-left: 20px;
}

.top-menus {
    align-items: center;
    display: flex;
}


@media (max-width: 767px) {

    /* Your mobile-specific CSS styles go here */
        body {
            overflow-x: auto;
            width: 100vw;
            /* Adjust font size for better mobile readability */
            
                /* Add more styles as needed for mobile layout adjustments */
}
.my-bg {
    width: auto;
}

.resp {

    width: 100vw !important;
        overflow: auto !important;
}
}